table.feature-overview td.feature-label, table.feature-overview th.feature-label {
    text-align: left;
    width: 40%;
}

table.feature-overview td.feature-status, table.feature-overview th.feature-status {
    text-align: center;
    width: 20%;
}

table.feature-overview td.feature-strategy, table.feature-overview th.feature-strategy {
    text-align: left;
    width: 30%;
}

table.feature-overview td.feature-actions, table.feature-overview th.feature-actions {
    text-align: center;
    width: 10%;
}

table.feature-overview td.feature-strategy ul.params,
table.feature-overview td.feature-label ul.attributes {
    list-style: none;
    font-size: small;
    color: gray;
    margin-left: -25px;
}

.glyphicon-lg {
    font-size: x-large;
}

.feature-enabled {
    color: #5cb85c;
}

.feature-disabled {
    color: #d9534f
}
