name: GitHub CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md' # no CI builds for docs
      - '.github/workflows/maven-central-release.yml'
  pull_request: # build PRs
  workflow_dispatch: # allow for manual triggering

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        jdk: [8, 11]
    env:
      JDK_VERSION:  ${{ matrix.jdk }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.jdk }}
      - name: Build with Maven
        run: mvn -P wildfly-managed --batch-mode verify
      - name: upload code coverage to codecov.io
        uses: codecov/codecov-action@v3
