name: release-to-maven-central
on:
    workflow_dispatch:
        inputs:
            releaseversion:
                description: 'Release version'
                required: true
                default: '0.0.0-SNAPSHOT'
jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            -   run: echo "Will start a Maven Central upload with version ${{ github.event.inputs.releaseversion }}"

            -   uses: actions/checkout@v6

            -   name: Set up JDK
                uses: actions/setup-java@v5
                with:
                    java-version: 17
                    distribution: 'temurin'
                    server-id: central
                    server-username: MAVEN_USERNAME
                    server-password: MAVEN_PASSWORD
                    gpg-private-key: ${{ secrets.MAVEN_GNUPG_PRIVATE_KEY }}
                    gpg-passphrase: MAVEN_GPG_PASSPHRASE

            -   name: Publish package
                run: ./release.sh ${{ github.event.inputs.releaseversion }}
                env:
                    MAVEN_OPTS: "--add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.text=ALL-UNNAMED --add-opens=java.desktop/java.awt.font=ALL-UNNAMED"
                    MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
                    MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
                    MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GNUPG_PASSPHRASE }}
