name: GitHub CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        jdk: [8, 11]
    env:
      JDK_VERSION:  ${{ matrix.jdk }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.jdk }}
      - name: Build with Maven
        run: mvn -P wildfly-managed --batch-mode verify
