name: GitHub CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md' # no CI builds for docs
      - '.github/workflows/maven-central-release.yml'
  pull_request: # build PRs
  workflow_dispatch: # allow for manual triggering

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        jdk: [17]
    env:
      JDK_VERSION:  ${{ matrix.jdk }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk }}
      - name: Build with Maven
        run: mvn -P wildfly-managed --batch-mode --no-transfer-progress verify
      - name: upload code coverage to codecov.io
        uses: codecov/codecov-action@v5
