name: release-to-maven-central
on:
  workflow_dispatch:
    inputs:
      releaseversion:
        description: 'Release version'
        required: true
        default: '0.0.0-SNAPSHOT'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Will start a Maven Central upload with version ${{ github.event.inputs.releaseversion }}"

      - uses: actions/checkout@v6

      - name: Set up Maven Central Repository
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
          server-id: oss.sonatype.org
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Set projects Maven version to GitHub Action GUI set version
        run: mvn versions:set "-DnewVersion=${{ github.event.inputs.releaseversion }}"

      - name: Publish package
        # all modules without samples/*
        run: mvn --batch-mode clean deploy -P central-deploy -DskipTests=true -pl .,amazon-s3,appengine,benchmarks,cdi,cloud-datastore,cloud-spanner,cloud-storage,console,core,dynamodb,hazelcast,junit,kotlin,mongodb,redis,servlet,shiro,slack,spock,spring-core,spring-security,spring-web,test-harness,testing,spring-boot,spring-boot/autoconfigure,spring-boot/starter,spring-boot/starter-actuator,spring-boot/starter-console,spring-boot/starter-core,spring-boot/starter-security,spring-boot/starter-thymeleaf,spring-boot/starter-webmvc
        env:
          MAVEN_OPTS: "--add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.text=ALL-UNNAMED --add-opens=java.desktop/java.awt.font=ALL-UNNAMED"
          MAVEN_USERNAME: ${{ secrets.OSS_SONATYPE_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSS_SONATYPE_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
